{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'css/registrar-entrada-style.css' %}">

    <title>Document</title>
</head>

<body>
    <div class="register-entrance">
        <div class="form-container">
            <h1 class="title">Registrar Entrada</h1>

            {% comment %} FORMULARIO PARA LLENAR {% endcomment %}
            <form action="" method="post" class="register-entrance-form">
                {% csrf_token %}
                {{form}}
                <button type="submit" name="save" class="save"> <a href="./inventario_cocina"> </a> Guardar</button>
            </form>
            
        </div>

    </div>
</body>

</html>